h1 {
    font-size: 32px;
    color: #424242;
    margin: 20px 0 20px 0;
}
.app {
    display: flex;
    justify-content: center;
}
.featuredImages_wpap {
    display: flex;
}
#smallImg {
    cursor: pointer;
}
.smallImages {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px double rgba(100,100,100,0.11);
    background-color: #F0F0F0;
    
}
.smallImages img {
    max-width: 250px;
    max-height: 250px;
    padding: 3px;
}
.bigImage {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px double rgba(100,100,100,0.11);
    background-color: #F0F0F0;
    position: relative;
}
.bigImage img {
    max-width: 500px;
    max-height: 500px;
    padding: 3px;
}
.backArrow img {
    position: absolute;
    top: 40%;
    height: 120px;
    width: 50px;
    cursor: pointer;
}
.backArrow img:hover {
    background-color: rgba(240,240,240,0.5);
}
